# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

/experiment/case_study/4_4
data/Gdataset
result
*.zip

*/logs

*.catkin_tools
*.vscode
*.csv
*.mp4

*runs*

*.png